# Each line follows the pattern:
# <file pattern>  <owner(s)>

# Owners for root-level files
*          @saqibsgit

# Owners for Terraform modules, for example, @DevOpsEngineer
modules/*   @saqibsgit

# Owners for main configuration files, for example, @TeamLeadSecurityEngineering
main.tf     @saqibsgit

# Owners for secrets module, for example, @StaffSystemEngineer
modules/secrets/*   @saqibsgit

# Owners for logging module, for example, @TeamLeadSoftwareEngineering
modules/logging/*   @saqibsgit
